.container-experience {
    display: flex;
    gap: 20px;
}

.img-experience {
    width: 30px;
    height: 30px;
}

.about-experience {
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 22px;
}

.about-experience strong {
    color: black;
}