.container-hobby {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.img-hobby {
    width: 100%;
    border-radius: 12px;
}

.about-hobby {
    line-height: 25px;
}

.about-hobby b {
    color: black;
}

@media (max-width:690px) {
    .img-hobby {
        width: 100%;
    }

    .container-hobby {
        flex-direction: row;
    }
    .about-hobby{
        width: 100%;
    }
}